html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-logo{
    max-width: 85px;
}
.page-logo{
    transition: 3s;

}
.card-header {
    opacity: 0;
    animation: ani 3.5s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;

}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.justify-content-center{
    padding: 0 15px;
}
.filter-form form{
    background: IndianRed;
    min-height: 50px;
    padding: 30px;
    color: white;
    border-radius: 12px;
    border: transparent;
    width: 100%;
}
.filter-form form input{
    border-radius: 7px;
}
.filter-form form .span-form{
    min-width: 33%;
    display: contents;
}
main{
    background: url("/assets/fon.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer{
    width: 100%;
    min-height: 100px;
    background: IndianRed;
    bottom: 0;
}
.red-picture{
    background: url("/assets/fon.jpg");
    background-size: cover;
}
.single-card{
    border-radius: 12px;
    border: 1px solid lightgray;
    margin: 20px 0px;
    min-height: 300px;
    background: white;
    padding: 20px;
}
.single-card:last-child{
    margin-bottom: 120px;
}
.card-header{
    font-size: 82px;
    text-align: right;
    font-family: Montserrat;
    background: transparent;
    border: none !important;
}
.h-card{
    text-align: center;
    font-size: 34px;
    padding: 20px;
}
.table-description{
}
.table-data{
    width: -webkit-fill-available;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 20px;
    max-width: 340px;
}
.card-button{
    border-radius: 12px;
    color: white;
    background-color: IndianRed;
    padding: 10px;
    border: none;
}
.table-data .card-price{
    font-size:30px;
}
.table-description, .table-data{
    display: inline;
}
.table-description{
    float: left;
}
.table-data{
    float: right;
}
.card-data{
    display: inline-flex;
    padding: 20px;

}

@media(max-width:600px){
    .title {
        font-size: 42px;
    }
    .red-picture{
        background: url("/assets/fon.jpg");
        background-size: cover;
        background-position-y: 185px;
    }
}
@media(max-width: 1120px){
    .card-data{
        display: block;
        padding: 20px;

    }
}