html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-logo{
    max-width: 85px;
}
.page-logo{
    transition: 3s;

}
.card-header {
    opacity: 0;
    animation: ani 3.5s forwards;
}

.content{
    opacity: 0;
    animation: ani 3.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;

}

.title {
    font-size: 84px;
}
.about{
    max-width: 50%;
    margin: auto;
}
canvas{
    position: absolute;
    z-index: 0;
}
#stars {
    background:indianred;
    /*background:#477ab9;*/
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#stars:hover {
    /*background:#3D689C;*/
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.justify-content-center{
    padding: 0 15px;
}
.filter-form form{
    background: IndianRed;
    min-height: 50px;
    padding: 30px;
    color: white;
    border-radius: 12px;
    border: transparent;
    width: 100%;
}
.filter-form form input{
    border-radius: 7px;
}
.filter-form form .span-form{
    min-width: 33%;
    display: contents;
}
main{
    background: url("/assets/fon.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer{
    width: 100%;
    min-height: 100px;
    background: IndianRed;
    bottom: 0;
}
.red-picture .content{
    /*background: url("/assets/fon.jpg");*/
    /*background-size: cover;*/
    color: white;
}
.single-card{
    border-radius: 12px;
    border: 1px solid lightgray;
    margin: 20px 0px;
    min-height: 300px;
    background: white;
    padding: 20px;
}
.single-card:last-child{
    margin-bottom: 120px;
}
.card-header{
    font-size: 82px;
    text-align: right;
    font-family: Montserrat;
    background: transparent;
    border: none !important;
}
.h-card{
    text-align: center;
    font-size: 34px;
    padding: 20px;
}
label{
    min-width: 100px;
}
form.add-form input, textarea{
    width: 100%;
    margin: 5px 20px 10px 0px;
    border-radius: 7px;
    border: 0px solid white;
    padding: 5px;
}
form .submit{
    min-height: 50px;
}
form.add-form{
    background: Indianred;
    border-radius: 12px;
    padding: 20px;
    color: white;
}
.table-data{
    width: -webkit-fill-available;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 20px;
    max-width: 340px;
}
.card-button{
    border-radius: 12px;
    color: white;
    background-color: IndianRed;
    padding: 10px;
    border: none;
    width: 150px;
}
.table-data .card-price{
    font-size:30px;
}
.table-description, .table-data{
    display: inline;
}
.table-description{
    float: left;
}
.table-data{
    float: right;
}
.card-data{
    display: inline-flex;
    padding: 20px;

}

.buy-form{
    background: IndianRed;
    width: 95%;
    position: fixed;
    margin-left: 250%;
    color: white;
    max-width: 450px;
    border-radius: 12px;
    padding: 25px;
    max-height: 100%;
    overflow: auto;
    margin-top: -75px;
    z-index: 1;
    transition: 1s;
}
.button_plus_minus{
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -7px;
    position: absolute;
    /* padding: 7px; */
    font-size: 35px;
    border: none;
    color: black;
}
.button_plus_minus:hover{
    text-decoration: none;
}
.buy-form input{
    width: 100%;
    border-radius: 7px;
    border: 0px solid white;
    padding: 10px;
}
.buy-form button:focus{
    border: none;
}
.buy-form textarea{
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    border: 0px solid white;
    max-height: 100px;
}
.buy-ticket{
    border: 0px solid white;
    background: white;
    color: Indianred;
    border-radius: 7px;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    margin: 10px 0px;
}
.buy-ticket:hover{
    background: Indianred;
    color: White;
    box-shadow: 0px 0px 10px 0px white;
    transition: 1s;
    height: 37px;
}
a.card-button:hover{
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 10px 0px gray;
    transition: 0.5s;
}
a.closer{
    position: absolute;
    text-decoration: none;
    top: 0px;
    right: 15px;
    background: transparent;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 45px;
    transform: rotate(270deg);
}
a.closer:hover{
    text-decoration: none;
    /*font-size: 47px;*/
    color: white;
    /*right: 18px;*/
    font-weight: bold;
}
.label{
    /*width:100px;*/
}
@media(max-width:600px){
    .title {
        font-size: 42px;
    }
    .red-picture{
        /*background: url("/assets/fon.jpg");*/
        /*background-size: cover;*/
        /*background-position-y: 185px;*/
    }
}
@media(max-width: 1120px){
    .card-data{
        display: block;
        padding: 20px;

    }
}